.alert.alert-basic
	.media
		.pull-left
			%h1.social-font-name.half-margin-right.no-margin-bottom{:style=>"font-size:4em;"}
				i
		.media-body
			%p.quarter-margin-bottom
				%strong
					Include your LinkedIn profile along with your assessments.
				Click below to be redirected to the LinkedIn website to provide your signin credentials 
			%a.btn.btn-default{:href=>"/candidate_backend/profile/linkedin"}
				Import My LinkedIn Profile