.alert.alert-basic
	.media
		.pull-left
			%h1.half-margin-right.no-margin-bottom.primary-text-color{:style=>"font-size:3em;"}
				%i.fa.fa-video-camera
		.media-body
			%p.quarter-margin-bottom
				%strong
					Add a video to your profile
				%br
				Candidates are also highly encouraged to include a video in their profile.
			%a.btn.btn-default{:href=>"/candidate_backend/profile/edit#video"}
				Add a video to my profile