%section.invert-section.progress-indacator.hidden-xs
	.padded
		.col-sm-4
			.text-center.stage
				.label.label-success
					1
				%p.no-margin-bottom.text-uppercase.quarter-margin-top
					%small
						%span.step-text.active
							Select Tests
		.col-sm-4
			.text-center.stage
				.label.label-default
					2
				%p.no-margin-bottom.text-uppercase.quarter-margin-top
					%small
						%span.step-text
							Select Candidates
		.col-sm-4
			.text-center.stage
				.label.label-default
					3
				%p.no-margin-bottom.text-uppercase.quarter-margin-top
					%small
						%span.step-text
							Freeform Questions
		.clearfix