.margin-bottom.clearfix
	.page-header
		%h2
			1. Select your desired tests.
		%p.no-margin-bottom
			Select the tests you would like to assign to one or more candidates.

	=partial"/tests/new/select_tests_table"