.wh-stream-item
	.page-header.quarter-margin-bottom
		.stream-item-date.pull-right
			%p.text-muted
				%small
					Mar 1st
		.stream-item-text
			%p.no-margin-bottom
				%i.fa.fa-check.wh-stream-icon.margin-right.hidden-xs
				=image_tag "/images/no_avatar_sm.png", :class=>"half-margin-right avatar-sm img-circle"
				%a{:href=>"/results/show"}
					New Test Result
				from
				%a{:href=>"/candidates/show"}
					John Doe
				from the test
				%a{"data-toggle"=>"modal", :href=>"/tests/show", "data-target"=>"#showTestModal"}
					Business Essentials II