%footer
	.container
		.row
			.col-lg-12
				.pull-left
					%nav
						%ul.list-inline.pull-left.footer-nav
							%li
								%a{:href=>"index.html"}
									Home
							%li
								%a{:href=>"contact.html"}
									Contact
							%li
								%a{:href=>"log_in.html"}
									Login
							%li
								%a{:href=>"http://wellhire.wordpress.com "}
									Blog
							%li
								© 2013 Wellhire All rights reserved.
				.pull-right

					%ul.list-inline.pull-right.footer-social-menu
						%li
							%a{:href=>"#"}
								l
						%li
							%a{:href=>"#"}
								i
						%li
							%a{:href=>"#"}
								f
					%a.text-center.tech-stars-logo{:href=>"http://www.techstars.com/program/locations/boulder/"}
						%img{:src=>"images/public/tech_stars_logo.png", :width=>80, :class=>"max-width pull-right margin-right", :style=>"position:relative; bottom:20px; width:80px;"}
=partial "home/modal"
