%section.primary-bg.invert-section
	.container
		.row
			.col-lg-12
				.text-center.double-margin-bottom
					%h1
						Request a Demo
					%p
						We will send you more information about the Wellhire product.
		.row
			.col-sm-3
			.col-sm-6
				.panel
					.panel-body
						%form{:role=>"form"}
							.form-group
								%lebel.control-label
									%small
										%span.text-danger
											*
										Name:
								%input.form-control{:placeholder=>"ex: John Smith"}
							.form-group
								%lebel.control-label
									%small
										%span.text-danger
											*
										Email:
								%input.form-control{:placeholder=>"ex: john@doe.com"}
							.form-group
								%lebel.control-label
									%small
										%span.text-danger
											*
										Phone:
								%input.form-control{:placeholder=>"ex: 999.999.9999"}
							.form-group
								%lebel.control-label
									%small
										Company:
								%input.form-control
							.form-group
								%a.btn.btn-primary.btn-block
									Submit
			.col-sm-3
