%section.slider-container.no-padding-bottom
	.container
		.row
			.col-md-2
			.col-md-8
				.row
					.col-md-1
					.col-md-10
						.laptopBg
							%img.imgBg{src: "images/public/screen.png"}
							#slider-in-laptop.royalSlider.rsDefaultInv
								-2.times do
									%div
										%img.full-width{src: "images/public/slide-1.png"}
										.rsCaption
											%h3.text-uppercase
												COLLECT JOB CANDIDATES
											%h2.no-margin-bottom
												Collect new candidates directly from your job post, without even meeting them.
									%div
										%img.full-width{src: "images/public/slide-2.png"}
										.rsCaption
											%h3.text-uppercase
												compare job candidates
											%h2.no-margin-bottom
												Clearly compare job candidates by skill test results
									%div
										%img.full-width{src: "images/public/slide-3.png"}
										.rsCaption
											%h3.text-uppercase
												background check
											%h2.no-margin-bottom
												Wellhire profiles include social media "background check" for job candidates
									%div
										%img.full-width{src: "images/public/slide-4.png"}
										.rsCaption
											%h3.text-uppercase
												See Your Candidates in Action
											%h2.no-margin-bottom
												We capture live video of your candidates describing themselves, answering questions, and more. 
						.col-md-1

			.col-md-2




