%section.section.no-padding-bottom#features
	.container
		.row
			.col-sm-12
				%h1.text-center.no-margin-bottom
					Wellhire Features
/ begin features slider
= partial "home/features_slider"
/ end features slider