%form{:role=>"form"}
	.form-group
		%select.input-lg.form-control
			%option
				I Have a Question
			%option
				Other
	.form-group
		%textarea.input-lg.form-control.margin-bottom{:rows=>"10", :placeholder=>"Your Message"}
		%button.btn.btn-default.pull-right.full-width{:type=>"submit"}
			Submit