%section.section.primary-bg.invert-section#home-hero.no-padding-bottom
	.hero-info
		.container
			.row.text-center
				.col-md-2
				.col-md-8
					%h1
						Changing the way recruiting matching happens
					%h2.double-margin-bottom
						Matching candidates and opportunities based on
						%span.highlight-hero-text
							skills
						, 
						%span.highlight-hero-text
							passions
						& 
						%span.highlight-hero-text
							strengths
					%a.btn.btn-primary.btn-xl#find-out-how{:href=>"#demo"}
						Request a demo
				.col-md-2
	.logos
		.container
			.row
				.col-lg-12
					.text-center
						%img.full-width-image{:src=>"images/public/logos.png"}

