%section.section.primary-bg.invert-section#home-hero.no-padding-bottom
	.hero-info
		.container
			.row.text-center
				.col-md-2
				.col-md-8
					%h1
						Hiring Decisions Made Easy.
					%h2.double-margin-bottom
						Finding the right job candidates can be 
						%span.highlight-hero-text
							simple
						, 
						%span.highlight-hero-text
							cheap 
						& 
						%span.highlight-hero-text
							fast.
					%a.btn.btn-primary.btn-xl#find-out-how{:href=>"#"}
						Find Out How
				.col-md-2
	.logos
		.container
			.row
				.col-lg-12
					.text-center
						%img.full-width-image{:src=>"images/public/logos.png"}

