%section
	.container
		.row
			.col-lg-12
				%h1.text-center
					How it Works
		.row
			.col-sm-6
				.row
				.padded
					=image_tag'public/works_1.png', :class=>"img-responsive margin-auto margin-bottom"
					%h4
						Test & compare candidate knowlage
					%p.no-margin-bottom
						Suspendisse libero orci, porttitor eu imperdiet id, dapibus non metus. Pellentesque imperdiet, justo id vulputate feugiat, quam orci commodo nibh, vitae volutpat libero metus et lacus. Sed eget vulputate nisi. Donec in varius est.
			.col-sm-6
				.padded
					=image_tag'public/works_2.png', :class=>"img-responsive margin-auto margin-bottom"
					%h4
						Review the professional experience of applicants
					%p.no-margin-bottom
						Suspendisse libero orci, porttitor eu imperdiet id, dapibus non metus. Pellentesque imperdiet, justo id vulputate feugiat, quam orci commodo nibh, vitae volutpat libero metus et lacus. Sed eget vulputate nisi. Donec in varius est.
		.row
			.col-sm-6
				.padded
					=image_tag'public/works_3.png', :class=>"img-responsive margin-auto margin-bottom"
					%h4
						Set your candidates x factor
					%p.no-margin-bottom
						Suspendisse libero orci, porttitor eu imperdiet id, dapibus non metus. Pellentesque imperdiet, justo id vulputate feugiat, quam orci commodo nibh, vitae volutpat libero metus et lacus. Sed eget vulputate nisi. Donec in varius est.
			.col-sm-6
				.padded
					=image_tag'public/works_4.png', :class=>"img-responsive margin-auto margin-bottom"
					%h4
						Let wellhire inbound job applicants
					%p.no-margin-bottom
						Suspendisse libero orci, porttitor eu imperdiet id, dapibus non metus. Pellentesque imperdiet, justo id vulputate feugiat, quam orci commodo nibh, vitae volutpat libero metus et lacus. Sed eget vulputate nisi. Donec in varius est.

