%section
	.container
		.row.double-margin-bottom
			.col-sm-4
				.text-line
			.col-sm-4
				%h3.text-center
					Included Features
			.col-sm-4
				.text-line
		.row.icons.double-margin-bottom
			.col-lg-12
				/icon row
				.row
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-ln.png"}
							.col-sm-10
								%p
									Candidates can import Linked-In profile to easily share information about themselves
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-dashboard.png"}
							.col-sm-10
								%p
									Custom Dashboard provides hiring companies with quick stats at their fingertips. 
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-100.png"}
							.col-sm-10
								%p
									Unlimited access to test catalog covering 100+ career areas
				/icon row
				.row
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-people.png"}
							.col-sm-10
								%p
									Access by unlimited team members
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-thumbs-up.png"}
							.col-sm-10
								%p
									Easily check the social media background of job candidates
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-check.png"}
							.col-sm-10
								%p
									Test candidates from your job post, without exchanging a single email
				/icon row
				.row
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-head.png"}
							.col-sm-10
								%p
									Clearly compare job candidate knowledge
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-bill.png"}
							.col-sm-10
								%p
									Clear and simple pricing, with automated billing
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/home-icon-camera.png"}
							.col-sm-10
								%p
									Candidates can capture video of themselves answering questions, describing their experience, and more. 
		.row.icons
			.col-lg-12.text-center
				%a.btn.btn-xl.btn-primary{:href=>"sign_up"}
					Try it Free

