%section.border-bottom#features
	.container
		.row.margin-bottom
			.col-sm-4
				.text-line
			.col-sm-4
				%h3.text-center
					Employer Features
			.col-sm-4
				.text-line
		.row.icons.margin-bottom
			.col-lg-12
				/icon row
				.row
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/build.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Opportunity builder
								%p
									Easy and intuitive opportunity builder
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/match.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Instant Matches
								%p
									Instantly see potential candidates pre-filtered based on match score and interest
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/chat_2.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Real-time chat
								%p
									Connect and chat directly with matched candidates
		/ .row.icons
		/ 	.col-lg-12.text-center
		/ 		%a.btn.btn-xl.btn-primary{:href=>"sign_up"}
		/ 			Try it Free

%section.border-bottom
	.container
		.row.double-margin-bottom
			.col-sm-4
				.text-line
			.col-sm-4
				%h3.text-center
					Candidate Features
			.col-sm-4
				.text-line
		.row.icons.double-margin-bottom
			.col-lg-12
				/icon row
				.row
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/profile.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Profile In Seconds
								%p
									Sign up and build a profile in less than 20 seconds
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/clock.png"}
							.col-sm-10
								%h5.no-margin-bottom
									1-Second Application
								%p
									Don't waste time on a resume or cover letter, apply in just 1 second
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/chat.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Personal Connections
								%p
									Get matched and connect directly with hiring managers
				/icon row
				.row
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/files.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Discover New Jobs
								%p
									Find new job opportunities that are pre-filtered for you
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/info.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Real Feedback
								%p
									Get direct and immediate feedback on your applications
					/icon
					.col-sm-4
						.row.margin-bottom
							.col-sm-2
								%img.margin-bottom{:src=>"images/public/shield.png"}
							.col-sm-10
								%h5.no-margin-bottom
									Secure & Private
								%p
									Hide your profile from current and previous employers
		/ .row.icons
		/ 	.col-lg-12.text-center
		/ 		%a.btn.btn-xl.btn-primary{:href=>"sign_up"}
		/ 			Try it Free




