%section.section#job-tests
	.container
		.row
			.col-sm-1
			.col-sm-10
				.text-center
					%h1
						Wellhire Job Tests
					%h2.double-margin-bottom
						Save time by testing job candidates first, with Wellhire.  Our tests are created by professionals, and cover more than 100 career skill areas.
					%image.full-width-image{:src=>"images/public/skills.png"}
			.col-sm-1
%section.primary-bg.invert-section
	.container
		.row.margin-bottom
			.col-sm-12
				.text-center
					%h3
						Explore Our Job Tests
		.row.margin-bottom
			.col-sm-1
			.col-sm-5
				%h4.text-right.half-margin-top
					Select a Category
			.col-sm-3
				%select.form-control.input-lg
					%option
						Essential Skills
					%option
						Essential Skills
					%option
						Essential Skills
			.col-lg-3
		.row
			.col-lg-12
				.margin-bottom
					=partial "home/test_tabel"
				%p.text-center.no-margin-bottom
					Need a specific assessment? 
					%a.white-link{:href=>"contact_public"}
						Contact us.