%section.primary-bg.invert-section.section#pricing
	.container
		.row.margin-bottom
			.col-sm-12
				.text-center.double-margin-bottom
					%h1
						Clear & Simple Pricing
					%h2
						Try Wellhire for 
						%span.bold-font-name
							2 days free! 
						With no risk

				=partial"/home/_pricing_tiers_large"	
