
.row
	-3.times do
		.col-md-3
			%a.no-decoration{:href=>"sign_up"}
				.double-margin-bottom.price-tier
					.off-white-bg.padded.price-table.no-padding-bottom.margin-bottom.double-padding-top
						.text-center
							.margin-bottom
								%h5
									PLATINUM
								%h1
									$199
								%p.light-font-name.no-margin-bottom
									monthly
							.double-margin-bottom
								.btn.btn-primary.half-padding-left.half-padding-right{:href=>"sign_up"}
									%small
										GET STARTED
					.white-bg.padded.double-padding-top.price-points
						.row.margin-top
							.col-lg-12
								%p.text-center.border-bottom.padding-bottom
									%span.text-uppercase.bold-font-name
										10
									Completed tests per month.
								%p.text-center.border-bottom.padding-bottom
									%span.text-uppercase.bold-font-name
										$19.99
									For each additional test
								%p.text-center.border-bottom.padding-bottom
									%span.text-uppercase.bold-font-name
										UNLIMITED
									Member Accounts.

	.col-md-3
		%a.no-decoration{:href=>"sign_up"}
			.double-margin-bottom.price-tier.best-val
				%p.text-center.best-val-label
					Most Popular
				.off-white-bg.padded.price-table.no-padding-bottom.margin-bottom.double-padding-top
					.text-center
						.margin-bottom
							%h5
								PLATINUM
							%h1
								$199
							%p.light-font-name.no-margin-bottom
								monthly
						.double-margin-bottom
							.btn.btn-primary.half-padding-left.half-padding-right{:href=>"sign_up"}
								%small
									GET STARTED
				.white-bg.padded.double-padding-top.price-points
					.row.margin-top
						.col-lg-12
							%p.text-center.border-bottom.padding-bottom
								%span.text-uppercase.bold-font-name
									10
								Completed tests per month.
							%p.text-center.border-bottom.padding-bottom
								%span.text-uppercase.bold-font-name
									$19.99
								For each additional test




