%section#testimonials
	.container
		.row.double-margin-bottom
			.col-lg-12
				%h1.text-center
					Find your perfect match today!
		.row
			.col-sm-6
				.testimonial.double-margin-bottom
					.padded.testimonial-bub.double-margin-bottom
						%p
							Wellhire Mobile dramatically improved the match on candidates coming into our process, driving down matching & screening costs
					.row
						.col-xs-4
							%img.img-circle.full-width-image{:src=>"images/public/avatar.png"}
						.col-xs-8
							%h5.no-margin-bottom
								Alex L.
							%h6
								Recruiter
			.col-sm-6
				.testimonial.double-margin-bottom
					.padded.testimonial-bub.double-margin-bottom
						%p
							I've been using Wellhire Mobile for a week. Now employers are coming to me with amazing opportunities!
					.row
						.col-xs-4
							%img.img-circle.full-width-image{:src=>"images/public/mfiedler.png"}
						.col-xs-8
							%h5.no-margin-bottom
								Matt F.
