%section#testimonials
	.container
		.row.double-margin-bottom
			.col-lg-12
				%h1.text-center
					The Highest Standards, The Happiest Customers
		.row
			-2.times do
				.col-sm-6
					.testimonial.double-margin-bottom
						.padded.testimonial-bub.double-margin-bottom
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit faucibus odio, lobortis tristique libero feugiat eget. Nullam pretium elit non nisi scelerisque, sed volutpat turpis tempor. Aenean 
						.row
							.col-xs-4
								%img.img-circle.full-width-image{:src=>"images/public/avatar.png"}
							.col-xs-8
								%h5.no-margin-bottom
									John Smith
								%h6
									Title
