%section.secondary-bg.invert-section#promo-video
	.container
		.row
			.col-md-6
				%a.thumbnail.fb-video{:href=>"//player.vimeo.com/video/70322782"}
					%img.full-width-image.double-margin-bottom{:src=>"images/public/video_thumb.png"}
			.col-md-1
			.col-md-5
				%h1
					See It in Action
				%p
					More than just employment tests, Wellhire allows you to qualify interested candidates directly from your online job postings- without exchanging a single email. 
				%a.btn.btn-xl.btn-wire{:href=>"sign_up"}
					Start Using Wellhire