%section.primary-bg.invert-section
	.container
		.row
			.col-md-5
				%h1.margin-bottom
					Employers, rejoice
				%ul
					%li.margin-bottom
						Create a new opportunity in seconds
					%li.margin-bottom
						Instantly view candidates sorted by match score and interest
					%li.margin-bottom
						Connect with candidates using social chat
				/ %a.btn.btn-xl.btn-wire{:href=>"sign_up"}
				/ 	Start Using Wellhire
			.col-md-1
			.col-md-6
				.thumbnail.fb-video{:href=>"#"}
					%img.full-width-image.double-margin-bottom{:src=>"images/public/video_thumb_3.png"}
