%section.secondary-bg.invert-section#promo-video
	.container
		.row
			.col-md-6
				%a.thumbnail.fb-video{:href=>"https://www.youtube.com/watch?v=Rnidrp3cAts&feature=youtu.be"}
					%img.full-width-image.double-margin-bottom{:src=>"images/public/video_thumb_2.png"}
			.col-md-1
			.col-md-5
				%h1.margin-bottom
					Job searching made easy
				%ul
					%li.margin-bottom
						Sign up and build you profile in 2 seconds with LinkedIn Connect
					%li.margin-bottom
						View opportunities pre-filtered to match your unique skills, passions, and experience
					%li.margin-bottom
						Connect directly to hiring managers when a match has been made
				/ %a.btn.btn-xl.btn-wire{:href=>"sign_up"}
				/ 	Start Using Wellhire