;;;

"title": "My Candidates", 
"subnav_data": "candidate_subnav",
"description": "Review and edit candidates for your available Job Roles. Job Roles represent specific employment positions, add a job role for each open position you have.",
"link_title": "+ New Candidate",
"iconclass": "fa-users",
"activeclass": "candidates"
	
;;;


%section
	.container
		.row.margin-bottom
			.col-lg-12
				=partial "/shared/subnav_with_links"
				%a.btn.btn-primary.btn-lg{"data-toggle"=>"modal", :href=>"/candidates/new", "data-target"=>"#newCandidateModal"}
					%i.fa.fa-plus-circle
					New Candidate
				%a.btn.btn-default.btn-lg{"data-toggle"=>"modal", :href=>"/interview-questions/new", "data-target"=>"#newInterviewQuestionModal"}
					%i.fa.fa-plus-circle
					New Interview Questions
		.row
			.col-lg-12
				=partial "/candidates/candidates_table"