;;;

"title": "Administration", 
"subnav_data": "admin_subnav",
"description": "Below are global management features which apply to the entire Wellhire system.",
"link_title": "+ New Job Role",
"iconclass": "fa-wrench"
	
;;;


%section
	.container
		.row.margin-bottom
			.col-lg-12
				=partial "shared/subnav_with_links"
		.row
			.col-lg-12
				.page-header
					%h3.no-margin-bottom
						Promotion and Lead Support
				%p
					%a.margin-right{href:"/admin/edit"}
						Review Your Accounts
					Review activity for company accounts which you have successfully registered as Wellhire members.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Wellhire Promo Codes
					Review and manage promo codes which can be provided to new Wellhire customers.
				%p
					%a.margin-right{href:"/admin/edit"}
						Register a Free Account
					Use this form to register new members without collecting their payment information. Accounts registered here will not be charged a fee.
				.page-header
					%h3.no-margin-bottom
						Manage Accounts
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Company Accounts
					Review and manage company accounts.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Members
					Review and manage member accounts.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Candidate Accounts
					Review and manage candidate accounts.
				.page-header
					%h3.no-margin-bottom
						Manage Testing Items
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Tests
					Review and manage Tests and Exams.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Test Categories
					Review and manage the categories individual tests are assigned to.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage Test Questions
					Review and manage individual question and response items.
				%p
					%a.margin-right{href:"/admin/edit"}
						Review Candidate Feedback
					Review the feedback candidates have submitted following their test(s).
				.page-header
					%h3.no-margin-bottom
						Manage FAQ Items
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage FAQ Categories
					Review and manage the FAQ Categories viewed by the public, as well as subscribers.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage FAQ Items
					Review and manage the FAQ items for each category of Questions and Answers.
				.page-header
					%h3.no-margin-bottom
						Manage Billing and Payments
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage FAQ Categories
					Review and manage the FAQ Categories viewed by the public, as well as subscribers.
				%p
					%a.margin-right{href:"/admin/edit"}
						Manage FAQ Items
					Review and manage the FAQ items for each category of Questions and Answers.
				%p
					%a.margin-right{href:"/admin/edit"}
						Cancel a Company Account
					Cancel and deactivate a specific company account.
				%p
					%a.margin-right{href:"/admin/edit"}
						View Batch Payment History
					Review historical batch payment log information.





