;;;

"title": "Payment Activity", 
"subnav_data": "account_subnav",
"description": "Review and edit candidates for your available Job Roles. Job Roles represent specific employment positions, add a job role for each open position you have.",
"iconclass": "fa-archive"
	
;;;


%section
	.container
		.row.margin-bottom
			.col-lg-12
				=partial "/shared/subnav_with_links"
		.row
			.col-lg-12