;;;

"layout": "modal_small"
  
;;;



.modal-dialog
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
			%h2.modal-title 
				Edit Interview Question
		.modal-body
			%form.form-horizontal{role: "form"}
				.form-group
					%label.col-sm-5.control-label
						Question
					.col-sm-7
						%textarea.form-control{:rows=>"8"}
							what's your...
		.modal-footer
			%a.cursor-pointer.half-margin-right{"data-dismiss" => "modal"} 
				Cancel
			%button.btn.btn-primary{"data-dismiss" => "modal", type: "button" ,"data-toggle"=>"modal"} 
				Update Interview Question