;;;

"layout": "modal_small"
  
;;;



.modal-dialog.modal-lg
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
			%h4#myModalLabel.modal-title Terms & Conditions
		.modal-body
			.double-margin-bottom
				%h5
					Free Trial Usage
				%p
					By registering for a free trial membership, you will have unlimited access to all features of the Wellhire service for
					days, with your free trial ending on
					by visiting the MY ACCOUNT tab, and selecting CANCEL MY ACCOUNT. If you wish to continue using the Wellhire service, simply refrain from cancelling your account and you will continue to enjoy unlimited access to all Wellhire features; your account will then be billed on a monthly basis until you decide to cancel your account.
				%p
					All candidate tests completed during the free trial period are considered free, and do not count towards your ongoing membership. If you do not cancel your account prior to the end of the free trial, you will be charged standard member pricing.
			.double-margin-bottom
				%h5
					Account Pricing Details
				%p
					Wellhire members are provided with unlimited access to all Wellhire features for the base monthly charge of
					tests by candidates, applicants, or parties of your choosing. Additional tests completed each month are charged at a cost of
					each. A completed test is defined as any test which a candidate fully completes and is reportable to you, the member, within the Wellhire system. Tests which are assigned to candidates, but not completed, will not be charged to your account.
				%p
					Standard account pricing for use of Wellhire's assessment and applicant tracking services are:
				.table-responsive
					%table.table.table-striped
						%tbody
							%tr
								%td
									%strong Flat Monthly Fee
								%td
									%strong Completed Tests (per month)
								%td
									%strong Cost per Additional Test
								%td
									%strong Included Member Accounts
								%td
									%strong Candidate / Applicant Limit
								%td
									%strong All Features Included
							%tr
								%td Unlimited
								%td Unlimited
								%td Yes
								%td Unlimited
								%td Unlimited
								%td Yes
			.double-margin-bottom
				%h5
					Account Pricing Details
				%p
					Wellhire members are provided with unlimited access to all Wellhire features for the base monthly charge of
					tests by candidates, applicants, or parties of your choosing. Additional tests completed each month are charged at a cost of
					each. A completed test is defined as any test which a candidate fully completes and is reportable to you, the member, within the Wellhire system. Tests which are assigned to candidates, but not completed, will not be charged to your account.
				%p
					Standard account pricing for use of Wellhire's assessment and applicant tracking services are:
			.double-margin-bottom
				%h5
					Account Pricing Details
				%p
					Wellhire members are provided with unlimited access to all Wellhire features for the base monthly charge of
					tests by candidates, applicants, or parties of your choosing. Additional tests completed each month are charged at a cost of
					each. A completed test is defined as any test which a candidate fully completes and is reportable to you, the member, within the Wellhire system. Tests which are assigned to candidates, but not completed, will not be charged to your account.
				%p
					Standard account pricing for use of Wellhire's assessment and applicant tracking services are:
			.double-margin-bottom
				%h5
					Account Pricing Details
				%p
					Wellhire members are provided with unlimited access to all Wellhire features for the base monthly charge of
					tests by candidates, applicants, or parties of your choosing. Additional tests completed each month are charged at a cost of
					each. A completed test is defined as any test which a candidate fully completes and is reportable to you, the member, within the Wellhire system. Tests which are assigned to candidates, but not completed, will not be charged to your account.
				%p
					Standard account pricing for use of Wellhire's assessment and applicant tracking services are:
	      