:javascript
	$(document).ready(function() {


		//setup the form validation

		$('#candidateregisterform').bootstrapValidator({
			message: 'This value is not valid',
			feedbackIcons: {
				valid: 'fa fa-check',
				invalid: 'fa fa-times',
				validating: 'fa fa-refresh'
			},
			fields: {
				email: {
					message: 'The email is not valid',
					validators: {
						notEmpty: {
							message: 'Email is required and cannot be empty'
						},
						identical: {
							field: 'email_confirm',
							message: 'Please make sure the emails match'
						},
						emailAddress: {
							message: 'The input is not a valid email address'
						}
					}
				},
				email_confirm: {
					message: 'The email is not valid',
					validators: {
						notEmpty: {
							message: 'Confirm email is required and cannot be empty'
						},
						identical: {
							field: 'email',
							message: 'Please make sure the emails match'
						},
						emailAddress: {
							message: 'The input is not a valid email address'
						}
					}
				},
				first_name: {
					message: 'The input is not valid',
					validators: {
						notEmpty: {
							message: 'First Name is required and cannot be empty'
						}
					}
				},
				last_name: {
					message: 'The input is not valid',
					validators: {
						notEmpty: {
							message: 'Last Name is required and cannot be empty'
						}
					}
				}
			}
		});

		$('.confirm-button').click(function(){

			if ($('#candidateregisterform').data('bootstrapValidator').isValid())
		  {
		  	//once things look good fire the modal
				$('#confirmSignUpModal').modal('show');
				return false;
		  }
		  else
		  {
		  	//if the form is incomplete show the user where
			  $('#candidateregisterform').data('bootstrapValidator').validate();
		  }

		});


		//make sure we show something if nothing is entered in phone and zip

		var phoneInput = $('#phone').val();
		if(phoneInput == ''){
			$( "#phone_show" ).text( "not entered" );
		}  

		var zipInput = $('#zip').val();
		if(phoneInput == ''){
			$( "#zip_show" ).text( "not entered" );
		}  

		//display the input vals in the modal

		$( "input#email" )
		.keyup(function() {
		var value = $( this ).val();
		$( "#email_show" ).text( value );
		})


		$( "input#first_name" )
		.keyup(function() {
		var value = $( this ).val();
		$( "#first_name_show" ).text( value );
		})


		$( "input#last_name" )
		.keyup(function() {
		var value = $( this ).val();
		$( "#last_name_show" ).text( value );
		})

		$( "input#phone" )
		.keyup(function() {
		var value = $( this ).val();
		$( "#phone_show" ).text( value );
		})

		$( "input#zip" )
		.keyup(function() {
		var value = $( this ).val();
		$( "#zip_show" ).text( value );
		})


	});


%form.form-horizontal#candidateregisterform{role: "form"}
	.form-group
		%label.col-sm-3.control-label 
			%span.text-danger
				* 
			Your Email
		.col-sm-9
			%input.form-control#email{placeholder: "Ex: john@doe.com", name:"email", type:"text"}
	.form-group
		%label.col-sm-3.control-label 
			%span.text-danger
				* 
			Confirm Email
		.col-sm-9
			%input.form-control#email_confirm{placeholder: "Ex: john@doe.com", name:"email_confirm"}
	.form-group
		%label.col-sm-3.control-label 
			%span.text-danger
				* 
			First Name
		.col-sm-9
			%input.form-control#first_name{name:"first_name"}
	.form-group
		%label.col-sm-3.control-label 
			%span.text-danger
				* 
			Last Name
		.col-sm-9
			%input.form-control#last_name{name:"last_name"}
	.form-group
		%label.col-sm-3.control-label 
			Phone Number
		.col-sm-9
			%input.form-control#phone{name:"phone",placeholder: "Ex: 3334445555",}
	.form-group
		%label.col-sm-3.control-label 
			Zip Code
		.col-sm-9
			%input.form-control#zip{name:"zip"}
	.form-group
		.col-sm-12
			%p
				%small
					Once you confirm your information, we'll send a PIN to your email address should you need to return in the future. Check your junk mail for a message from Wellhire Support in the event you do not receive it immediately. 
	.form-group
		.col-sm-12
			/ %a.btn.btn-primary.pull-right{:type=>"submit","data-toggle"=>"modal", "data-target"=>"#confirmSignUpModal"}
			%button.btn.btn-primary.pull-right.confirm-button{ :type=>"submit"}
				Review & Confirm
				%i.fa.fa-angle-double-right
