/ %section.no-padding-bottom
/ 	.container
/ 		.row
/ 			.col-sm-12
/ 				.alert.alert-success.alert-dismissable
/ 					%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} 
/ 						%small
/ 							×
/ 					%P.no-margin-bottom
/ 						%strong
/ 							Good Job!
/ 						You just did something amazing I think. Well played.