:javascript
	$(document).ready(function() {


		$.extend( $.fn.dataTable.defaults, {
			"bLengthChange": false
		} );


		var whDatatable = $('#table').dataTable().yadcf([
				{column_number : 0, column_data_type: "html", html_data_type: "text",filter_default_label:"Select a Name", filter_container_id: "name_filter_container"},

				{column_number : 1, filter_container_id: "type_filter_container"},

				{column_number : 2, filter_container_id: "job_role_filter_container"},

				{column_number : 5, filter_type: "date",date_format: "D M dd, yy", filter_container_id: "date_filter_container"}
			]
		);



		$('.filter-toggle').click(function() {
			$('#filter-inner').toggleClass('hidden');
		});



		$("#clear-filter").click(function(e) {
			
		});


	} );



.wh-table-filter-wrapper
	%button#filter-popover.filter-toggle.btn.btn-info{:rel=>"popover"}
		Filter
		%span.caret

	.bottom.popover.hidden#filter-inner{:style=>"display:block; top:50px;"}
		.arrow{:style=>"left:13%;"}
		.padded
			%form#wh-filter-form
				.form-group
					%label
						Name:
					#name_filter_container
				.form-group
					%label
						Type:
					#type_filter_container
				.form-group
					%label
						Job Role:
					#job_role_filter_container
				.form-group
					%label
						Date:
					#date_filter_container
			%hr
			%button.btn.btn-default{:onclick=>""}
				Clear
			%button.btn.btn-primary.filter-toggle{:onclick=>"return:false;"}
				Close





.wh-table-wrapper
	.table-responsive
		%table#table.display.table.table-striped.table-hover.margin-top.border-bottom{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
			%thead
				%tr
					%th
						Name
					%th
						Type
					%th
						Job Role
					%th
						Status
					%th
						Tests
					%th.hidden-sm.hidden-xs
						Date Created
					%th
						Action
			%tbody
				- 20.times do
					%tr
						%td.half-padding-top.half-padding-bottom
							=image_tag "/images/no_avatar_sm.png", :class=>"half-margin-right avatar-sm img-circle"
							%a{:href=>"#"}
								= lorem.name
							%a.half-margin-left.no-underline-link{:href=>"mailto:john@doe.com;"}
								%i.fa.fa-envelope-o
						%td.half-padding-top.half-padding-bottom 
							Prehire
						%td.half-padding-top.half-padding-bottom 
							Designer
						%td.half-padding-top.half-padding-bottom 
							Active
						%td.half-padding-top.half-padding-bottom 
							4
						%td.half-padding-top.half-padding-bottom.hidden-sm.hidden-xs
							= lorem.date
						%td.half-padding-top.half-padding-bottom
							.btn-group
								%button.btn.btn-xs.btn-info{type: "button"} 
									View
								%button.btn.dropdown-toggle.btn-xs.btn-info{"data-toggle" => "dropdown", type: "button"}
									%span.caret
									%span.sr-only Toggle Dropdown
								%ul.dropdown-menu.dropdown-menu-right{role: "menu"}
									%li
										%a{href: "#"} Delete
									%li
										%a{href: "#"} Mark as Inactive
				%tfoot.hidden
					%tr
						%th
							Name
						%th
							Type
						%th
							Job Role
						%th
							Status
						%th
							Tests
						%th.hidden-sm.hidden-xs
							Date Created
						%th
							Action