%h1.main-page-header
	%span.half-margin-right
		%small
			%i.fa{:class=>"#{current_page.data.iconclass}"}
	= current_page.data.title
=partial"/shared/subnav_links", locals:{:navbarclass=>"navbar-right"}
%p.margin-bottom
	= current_page.data.description