%p.lead
	Business Communication measures knowledge of communicating in the workplace. It measures the skills necessary to communicate effectively with clients and coworkers at all levels.  Subject areas covered in this assessment include:
%ul.margin-bottom
	%li
		Basic Electronic Communication (E-mail, Fax, Teleconferencing, Voice Mail)
	%li
		Listening (Active Listening, Barriers, Benefits, Questions)
	%li
		Nonverbal (Communication, Body Language, Expression, Gestures, Professional Appearance, Time/Space)
	%li
		Verbal Communication (Feedback, Instructions, Telephone)
	%li
		Written Communication (Letters, Memos, Reports)
.col-sm-4.border-right
	%p.text-uppercase.text-center
		%small
			Test Type
	%h1.text-uppercase.text-center
		Skillset
.col-sm-4.border-right
	%p.text-uppercase.text-center
		%small
			TOTAL QUESTIONS
	%h1.text-uppercase.text-center
		40
.col-sm-4
	%p.text-uppercase.text-center
		%small
			Time Limit
	%h1.text-uppercase.text-center
		60
		%small
			Min
.clearfix