%a.video-thumb-small.img-thumbnail.fancybox-media{:href=>"http://www.youtube.com/watch?v=opj24KnzrWo"}
	=image_tag"http://abshirepr.com/wp-content/uploads/2013/10/Bill-Kenney-headshot-1024x683.jpg", :class=>"img-responsive"