;;;

"layout": "modal_small"
  
;;;



.modal-dialog
	.modal-content
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
			%h2.modal-title 
				Edit User Chris Scordo
		.modal-body
			%form.form-horizontal{role: "form"}
				.form-group
					%label.col-sm-5.control-label 
						User Email
					.col-sm-7
						%input.form-control{value: "chris.scordo@wellhire.com", :readonly=>"readonly"}
				.form-group
					%label.col-sm-5.control-label
						First Name
					.col-sm-7
						%input.form-control{:value=>"Chris"}
				.form-group
					%label.col-sm-5.control-label 
						Last Name
					.col-sm-7
						%input.form-control{:value=>"Scordo"}
				.form-group
					%label.col-sm-5.control-label 
						Phone Number
					.col-sm-7
						%input.form-control{:value=>"703-855-7808"}
				.form-group
					%label.col-sm-5.control-label 
						Company POC
					.col-sm-7
						%input.half-margin-top{:type=>"checkbox"}
		.modal-footer
			%button.btn.btn-info.pull-left{"data-dismiss" => "modal","data-toggle"=>"modal", "data-target"=>"#markMemberInactiveModal"}
				Mark as Inactive
			%a.cursor-pointer.half-margin-right{"data-dismiss" => "modal"} 
				Cancel
			%button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} 
				Update User Info