=partial"shared/select_job_role",:locals=>{:text=>"1. Select the Job Role you'd like to test for."}
.margin-bottom.clearfix
	.page-header
		%p.no-margin-bottom
			2. Select the Test you'd like candidates to take.

	=partial"/job-links/job_link_test_select_table"