;;;

"title": "Contact", 
"subnav_data": "contact_subnav",
"description": "Feel free to contact us below and we will prioritize your request. As a member, you'll receive prioritized support for critical issues.",
"iconclass": "fa-phone"
	
;;;


%section
	.container
		.row
			.col-lg-12
				=partial "/shared/subnav_with_links"
		.row.margin-bottom
			.col-sm-10
				%form.form-horizontal{role: "form"}
					.form-group
						%label.col-xs-3.control-label 
							Username / Email Address:	
						.col-xs-9
							%p.no-margin-bottom.quarter-margin-top
								John@doe.com
					.form-group
						%label.col-xs-3.control-label 
							Subject:	
						.col-xs-9
							%select.form-control
								%option
									Feedback / Issue Regarding My Account
					.form-group
						%label.col-xs-3.control-label 
							Your Message:
						.col-xs-9
							%textarea.form-control.margin-bottom{:rows=>"4"}
							%a.btn.btn-default.pull-right{:href=>"onclick: return false;"}
								Submit Your Message
			.col-sm-2
		.row
			.col-lg-12
				.page-header
					%h3.no-margin-bottom
						Wellhire Office Location
				%address
					%strong Washington, D.C. 
					%br
					PO Box 39038 
					%br
					Washington, DC 20016 