;;;

"title": "FAQs", 
"subnav_data": "contact_subnav",
"description": "Below are answers to Frequently Asked Questions you may have about Wellhire.",
"iconclass": "fa-question"
	
;;;


%section
	.container
		.row
			.col-lg-12
				=partial "/shared/subnav_with_links"
		.row.margin-bottom
			.col-sm-9
				-5.times do
					#general
						.page-header
							%h3.no-margin-bottom
								General Features
						-10.times do
							.double-margin-bottom
								%p
									%strong
										Will I be charged for assigned tests that are not completed by my candidates?
									%br
									Absolutely not.  Wellhire only charges for tests which your candidates actually complete.  Unlike other services, if you send a test invitation to a candidate and they never complete the test, we will not charge you.
				#solutions.margin-bottom
					.page-header
						%h3.no-margin-bottom
							Enterprise Solutions
					%p
						Included with each Enterprise Solution offering, we provide: 
					%ul
						%li
							A robust Management module, allowing for complete control of all testing content, including questions, answers, reasoning, and test parameters.
						%li
							The ability to create "Review" versions of tests, which can be internally tested and reviewed prior to publication to the site.
						%li
							A complete user administration module, 
							including user profile management, account activation, and user privilege management.
						%li
							The ability to customize and display FAQ content, create customizable performance metrics, and a host of other enterprise-specific functionality.
						%li
							A fully customizable framework, based on standardized technologies, which can be managed by your organization.
					%p
						To learn more about our Enterprise Solutions, please 
						%a{href:"/contact"}
							Contact Us.
				#about.margin-bottom
					.page-header
						%h3.no-margin-bottom
							About Us
					%p
						%strong
							WellHire provides a comprehensive, hosted solution for organizations focused on attracting, assessing, and hiring qualified employment candidates. 
						The WellHire platform represents an entirely web-based solution which encompasses the provisioning of prehire skill assessments, management and tracking of employment candidates, and comprehensive candidate qualification reporting. 
						%br
						Together, these streamlined functional areas result in better hiring decisions, reduced hiring costs and decreased time required for organizations to acquire qualified employees. 
						%br
						Wellhire is privately owned and operated. 
				#disclaimer.margin-bottom
					.page-header
						%h3.no-margin-bottom
							Site Disclaimer
					%p
						Care has been taken in the compilation of this web site and its contents. The information, statements, and testing content contained on this site are believed to be correct. However, this site, its owners, operators, and/or representatives shall not be held liable for any loss, damage or inconvenience arising from potential inaccuracies. 
					%p
						This site, including its owners, reprentatives, administrators, and or employees, is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on information contained within the site. While the information contained within this site is believed to be accurate, no guarantee is given that the information provided in this Web site is correct, complete, and up-to-date. 
					%p
						Please read the terms and information carefully before registering to use this system. Accessing and/or registering for this service indicates that you accept these terms and understand this information. 
					%p
						The testing content within this web site has been prepared via the best efforts and knowledge of the parties involved. If you believe that any of the information here contains innacuracies or requires updating, feel free to inform us via our contact form, and we will review your feedback. 
					%p
						For the avoidance of doubt, under no circumstances shall this site, its owners, its representatives, administrators or employees be held liable for any event of direct, indirect, incidental or consequential damage or loss in connection with, or arising out of, any information provided or omitted by them or by other parties in relation to this site. 
					%p
						We may revise the terms of this disclaimer at any time. You should therefore visit this page from time to time as the terms expressed herein are binding when using this site. For general questions or remarks about our policies, please contact us using our web site contact form. 
					%p
						If any part of this Disclaimer is held to be invalid or unenforceable, such invalidity of unenforceability shall not invalidate the entire Disclaimer as a whole. Rather the Disclaimer shall be construed as though it did not contain the particular provision held to be invalid or unenforceable and the rights and obligation of relevant parties shall be construed and enforced to such extent as shall be permitted by applicable law.

			.col-sm-3
				.affix-top{"data-spy"=>"affix"}
					%ul.nav.nav-pills.nav-stacked
						%li
							%a{:href=>"#general"}
								General Features
						%li
							%a{:href=>"#"}
								General FeaturesCandidates and Job Roles
						%li
							%a{:href=>"#"}
								Finding and Assigning Tests
						%li
							%a{:href=>"#"}
								TestLinks: Including a Test in Your Online Job Posting
						%li
							%a{:href=>"#"}
								Viewing Test Results
						%li
							%a{:href=>"#"}
								My Account