%section
	.container
		.row
			.col-lg-12
				.page-header
					%h1
						Heading 1 
				%h2
					Heading 2
				%h3
					Heading 3
				%h4
					Heading 4
				%h5
					Heading 5
				%h6
					Heading 6
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In suscipit sem nec tortor mattis sollicitudin. Donec molestie, ipsum eu sollicitudin commodo, urna sapien ullamcorper dolor, ac lacinia ipsum tortor ut elit. Morbi in elementum nisl. Proin pulvinar, urna malesuada 
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In suscipit sem nec tortor mattis sollicitudin. Donec molestie, ipsum eu sollicitudin commodo, urna sapien ullamcorper dolor, ac lacinia ipsum tortor ut elit. Morbi in elementum nisl. Proin pulvinar, urna malesuada 
				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In suscipit sem nec tortor mattis sollicitudin. Donec molestie, ipsum eu sollicitudin commodo, urna sapien ullamcorper dolor, ac lacinia ipsum tortor ut elit. Morbi in elementum nisl. Proin pulvinar, urna malesuada 
				%button.btn.btn-primary
					Try it free
				%button.btn.btn-default
					Try it free