;;;

"layout": "public"

;;;


%section.padding-top
	.container
		.row
			.col-lg-12
				.well.white-bg.double-padded.double-margin-bottom.text-center
					.row
						.col-sm-2
						.col-sm-8
							=image_tag"public/welcome_2.png", :class=>"img-responsive margin-bottom"
						.col-sm-2
					%h1.half-margin-bottom
						Welcome to Wellhire!
					%p.regular-font-name.lead
						Let's Get Started With Your Free 2-Day Trial.
					%a.btn.btn-primary{:href=>"/dashboard"}
						COntinue to Trial
 


