.page-header
	%h1.no-margin-bottom.pull-left
		Test in Progress
	%h4.no-margin-bottom.pull-right.pull-left-xs{:style=>"margin-top:18px;"}
		.fa.fa-clock-o
		Time Remaining: 
		%strong
			48:31
	.clearfix