;;;

"title": "Test: Business Essentials", 
"layout": "candidate",
"activeclass": "tests"
	
;;;


%section
	.container
		.row
			.col-lg-12
				=partial"/candidate_backend/tests/test_in_prog_header"
				.test-question-container.margin-top
					.test-question.margin-bottom
						%p
							Question 5 of 5
						%h4
							1. To consume a web service, you must first discover it. Which of the following are methods of discovering a web service?
					.test-answers.margin-bottom
						.radio
							%label
								%input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
								UDDI, DISCO
						.radio
							%label
								%input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
								News service, Site Discovery Protocol

						.radio
							%label
								%input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option3"}/
								System.Web.Services.Discovery
						.radio
							%label
								%input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option4"}/
								Web search engine, Web service index
					.test-footer
						%hr
						.row
							.col-sm-4
								.margin-bottom.half-margin-top
									%a.text-uppercase{:href=>"/candidate_backend/tests/overview"}
										REVIEW MARKED QUESTIONS
							.col-sm-8
								.pull-right
									%p.pull-left
										%a.btn.btn-lg.btn-info.margin-bottom.half-margin-right{:href=>"/candidate_backend/tests/overview"}
											%i.fa.fa-long-arrow-left
											Prev
										.btn-group{"data-toggle"=>"buttons"}
											%label.btn.btn-lg.btn-info.margin-bottom.test-toggle-btn.half-margin-right
												%input{:type=>"checkbox"}
													Mark For Review
												%span.btn-icon
										%a.btn.btn-lg.btn-success.margin-bottom{:href=>"/candidate_backend/tests/overview"}
											Submit & Continue
											%i.fa.fa-long-arrow-right

				

